  <div class="content__container">
    <div class="main-text">
      <h1><strong>READY SET LEARN!</strong></h1>
    </div> 
    <p class="quote"><strong>
      SUCCESS IS NO ACCIDENT. IT IS HARD WORK, PERSEVERANCE,
      LEARNING, STUDYING, SACRIFICE, AND MOST OF ALL, LOVE OF
      WHAT YOU ARE DOING OR LEARNING TO DO.</strong>
      <br/><span class="pele">- Pelé</span>
    </p>
    <p class="quote-2"> "PRACTICE, PRACTICE, PRACTICE AS MANY TIME YOU 
        LIKE - SAME CHAPTER, SAME TOPIC, SAME QUESTION."
    </p>
    <button class="btn" ><strong>Let's Start Demo Trial</strong></button>
  </div>

