.thumbnail-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.thumbnail {
    text-align: center;
}

.thumb-img {
    width: auto;
    height:300px;
    object-fit:cover;
    border-radius: 8px;
    border: 1px solid #ccc;
}